<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bitterfree.domain.user.model.mapper.UserMapper">

    <resultMap id="QueryUserMap" type="cn.bitterfree.domain.user.model.vo.UserQueryVO">
        <result property="total" column="total" jdbcType="BIGINT"/>
        <result property="current" column="current" jdbcType="BIGINT"/>
        <result property="pageSize" column="page_size" jdbcType="BIGINT"/>
        <collection property="list" columnPrefix="u_" resultMap="VOResultMap"/>
    </resultMap>

    <select id="queryUser" resultMap="QueryUserMap">
        select tc.total total, #{condition.current,jdbcType=BIGINT} current, #{condition.pageSize,jdbcType=BIGINT} page_size,
               u.id u_id, u.openid u_openid, u.unionid u_unionid, u.username u_username,
               u.nickname u_nickname, u.photo u_photo, u.email u_email, u.phone u_phone, u.user_type u_user_type
        from (select count(*) total from user tu
        <where>
            tu.is_deleted = 0
            <if test="condition.username != null and condition.username.isBlank() == false">
                and tu.username like concat('%', #{condition.username,jdbcType=VARCHAR}, '%')
            </if>
            <if test="condition.nickname != null and condition.nickname.isBlank() == false">
                and tu.nickname like concat('%', #{condition.nickname,jdbcType=VARCHAR}, '%')
            </if>
            <if test="condition.userType != null">
                and tu.user_type = #{condition.userType,jdbcType=INTEGER}
            </if>
        </where>) tc left join (select id from user tu
        <where>
            tu.is_deleted = 0
            <if test="condition.username != null and condition.username.isBlank() == false">
                and tu.username like concat('%', #{condition.username,jdbcType=VARCHAR}, '%')
            </if>
            <if test="condition.nickname != null and condition.nickname.isBlank() == false">
                and tu.nickname like concat('%', #{condition.nickname,jdbcType=VARCHAR}, '%')
            </if>
            <if test="condition.userType != null">
                and tu.user_type = #{condition.userType,jdbcType=INTEGER}
            </if>
        </where> order by tu.id asc limit #{condition.limit,jdbcType=BIGINT} offset #{condition.offset,jdbcType=BIGINT}) page on true
        left join user u on page.id = u.id
    </select>


</mapper>
