spring:
  application:
    name: @spring.application.name@
    version: @spring.application.version@
  profiles:
    active: @profiles.active@
  trace-id: @trace.id.name@
  trace-uri: @trace.uri.name@
  trace-method: @trace.uri.method@

# 日志配置
logging:
  level:
    cn.lbcmmszdntnt: @logging.level@
    org.springframework: warn
    tech.powerjob.worker.background: warn
  config: classpath:logback-spring.xml

# mp设置
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml # Mapper.xml文件地址,默认值
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler #设置枚举处理器
    map-underscore-to-camel-case: true # 是否开启下划线和驼峰的映射
    cache-enabled: false # 是否开启二级缓存
  global-config:
    db-config:
      logic-delete-field: idDeleted
      logic-delete-value: 1 #逻辑已删除值(默认为1)
      logic-not-delete-value: 0 #逻辑未删除值(默认为0)
      id-type: auto #id为雪花算法生成 设置为none->为遵循版本默认，可见这个版本默认为assign_id
      update-strategy: not_null #更新策略:只更新非空字段
      insert-strategy: not_null #插入策略:为空走默认值
  db-type: mysql # 分页时指定数据库类型

okr:
  service:
    login-service:
      map:
        wx: wxLoginServiceImpl
        email: emailLoginServiceImpl
        ack: ackLoginServiceImpl
        password: passwordLoginServiceImpl
    binding-service:
      map:
        email: emailBindingServiceImpl
        wx: wxBindingServiceImpl
    okr-operate-service:
      map:
        personal: personalOkrServiceImpl
        team: teamOkrServiceImpl
        team-personal: teamPersonalOkrServiceImpl
    task-service:
      map:
        action: actionServiceImpl
        priority1: priorityNumberOneServiceImpl
        priority2: priorityNumberTwoServiceImpl
    qrcode-provider:
      map:
        wx: wxQRCodeProviderImpl
        web: webQRCodeProviderImpl
    team-achievement-service:
      map:
        action: longTermAchievementServiceImpl
        priority1: shortTermAchievementServiceImpl
        priority2: shortTermAchievementServiceImpl
    day-record-complete-service:
      map:
        action: dayRecordServiceThirdImpl
        priority1: dayRecordServiceSecondImpl
        priority2: dayRecordServiceSecondImpl

status-flag:
  properties:
    - color: "#000000"
      credit: 80
    - color: "#000001"
      credit: 50
    - color: "#000002"
      credit: 20
  threshold: 60

quadrant-cycle:
  limit:
    second: 86400
    multiple: 2

resource:
  locate:
    patten: /media/** # 路由前缀
    location: file:D:/media/ # 本地存储的根路径
  compression:
    threshold: 65536
  upload:
    max-file-size: 20
    max-request-size: 100
    data-unit: megabytes
  static:
    font: /static/XiangJiaoDaJiangJunLingGanTi-2.ttf
    board: /static/board.png

secure:
  custom:
    list:
      - urls:
          - /doc.html/**
          - /v3/api-docs/**
          - /webjars/**
          - /error
          - /favicon.ico
          - /swagger-resources/**
          - /swagger-ui/**
          - /swagger-ui.html/**
        properties:
          permit:
          authenticate: false
          authorize: false
      # websocket 接口在这里配置拦截参数
      - urls:
          - /web/wxloginws
        properties:
          permit:
          authenticate: false
          authorize: false

font:
  text:
    line-color:
      red: 43
      green: 90
      blue: 103
    common: "[come on]"
    invite: "[invite]"
    binding: "[BINDING]"
    login: "[LOGIN]"

qrcode:
  wx:
    common:
      check-path: false     # 是否检测是否发布以及是否存在
      env-version: ${okr.wx.env-version}  # 版本
      width: 500           # 图片大小
      auto_color: false    # 颜色是否默认
      line-color: # 颜色
        red: 20
        green: 133
        blue: 238
      is-hyaline: false    # 透明底
    invite:
      page: pages/invite   # 页面
      check-path: false     # 是否检测是否发布以及是否存在
      env-version: ${okr.wx.env-version}  # 版本
      width: 500           # 图片大小
      auto_color: false    # 颜色是否默认
      line-color: # 颜色
        red: 20
        green: 133
        blue: 238
      is-hyaline: false    # 透明底
    binding:
      page: pages/binding   # 页面
      check-path: false     # 是否检测是否发布以及是否存在
      env-version: ${okr.wx.env-version}  # 版本
      width: 500          # 图片大小
      auto_color: false    # 颜色是否默认
      line-color: # 颜色
        red: 0
        green: 0
        blue: 0
      is-hyaline: false    # 透明底
    login:
      page: pages/confirm   # 页面
      check-path: false     # 是否检测是否发布以及是否存在
      env-version: ${okr.wx.env-version}  # 版本
      width: 500          # 图片大小
      auto_color: false    # 颜色是否默认
      line-color: # 颜色
        red: 0
        green: 0
        blue: 0
      is-hyaline: false    # 透明底
  web:
    invite:
      page: ${spring.domain}/pages/invite   # 页面
      width: 500           # 图片大小
    login:
      page: ${spring.domain}/pages/confirm   # 页面
      width: 500           # 图片大小


