<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lbcmmszdntnt.domain.core.model.mapper.inner.StatusFlagMapper">

    <resultMap id="UserStatusFlags" type="cn.lbcmmszdntnt.domain.core.model.vo.inner.UserStatusFlagsVO">
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <collection property="statusFlags" columnPrefix="s_" resultMap="BaseResultMap"/>
    </resultMap>

    <select id="getStatusFlagsByQuadrantId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
            s.id, s.color, s.label
        from
            fourth_quadrant f, status_flag s
        where
            f.is_deleted = 0 and s.is_deleted = 0 and
            s.fourth_quadrant_id = f.id and
            f.id = #{quadrantId, jdbcType=BIGINT}
    </select>

</mapper>
